# Python
__pycache__/
*.pyc
.env
venv/
env/

# Datos y Modelos (Demasiado pesados para GitHub)
data_esc50/
data_urban/
features/
features_v2/
models/*.pth
models/*.pt
models_v2/*.pth
models_v2/*.pt

# Opcional: ignorar las gráficas de resultados si no quieres subirlas
# results/
test_simulacion/
