# Python
__pycache__/
*.pyc
.env
venv/
env/

# Datos y Modelos (Demasiado pesados para GitHub)
data_esc50/
data_urban/
features/
models/*.pth
models/*.pt

# Opcional: ignorar las gráficas de resultados si no quieres subirlas
# results/
